#main-content {
  padding: 1%;
}

.workspace-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.workspace-element {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.buttons-and-header-container {
  display: flex;
}

.buttons-and-header-container>buttons {
  width: 33%;
  justify-content: left;
}

.header-container {
  justify-content: center;
}

.new-manage-buttons {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}